body{
background:#0b1220;
color:white;
font-family:Arial, sans-serif;
margin:0;
text-align:center;
}

/* ===== Navbar ===== */

.navbar{
background:#020617;
padding:15px;
font-size:18px;
}

.navbar a{
color:#38bdf8;
margin:10px;
text-decoration:none;
font-weight:bold;
}

/* ===== Title ===== */

h1{
color:#38bdf8;
}

/* ===== Grid ===== */

.tools,
.container {
display:grid;
grid-template-columns: repeat(3, 1fr);
gap:20px;
padding:20px;
}

/* ===== Card ===== */

.tool{
background:#1e293b;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px black;
}

/* ===== Inputs ===== */

input{
padding:10px;
margin:5px;
border:none;
border-radius:5px;
width:80%;
}

/* ===== Buttons ===== */

button{
padding:10px 20px;
border:none;
border-radius:8px;
background:#38bdf8;
color:black;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

/* ===== Footer ===== */

.footer{
background:#020617;
padding:20px;
margin-top:20px;
}

.footer a{
color:#38bdf8;
margin:10px;
text-decoration:none;
}

/* ===== Phone ===== */

@media (max-width: 700px){

.tools{
grid-template-columns: 1fr;
}

}